body{
    font-family: "DejaVu sans", Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1{
    text-align: center;
    color: black;
    font-size: 50px;
}

.recipe{
    font-size: 20px;
    color: black;
}